#placeImages{
	z-index: 0;
}
.event-image-holder {
	min-height: 300px;
	height: 100%;
}
a.dark-link{
	color: #000;
	text-decoration: none;
}
a.dark-link:hover,
a.dark-link:active{
	color: red;
}
.event-image-holder {
	position: relative;
}
.event-image-holder a {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #fff;
	z-index: 1;
}
.icon-col i {
	font-size: 2.5rem;
}
.link-arrow{
	font-size: 1.5rem;
	color: #000;
	line-height: 1rem;
	margin-top: -0.6rem;
	display: inline-block;
}
.event-dates b{
	font-family: katarine-web,sans-serif;
}
.info-fontsize, .event-dates b {
	font-size: 1.7rem;
	font-weight: 600;
}
.handle-fontsize {
	font-size: 1.2rem;
	font-weight: 600;
}
.event-dates b{
	line-height: 1;
}
.icon-col i{
	margin-right: 0!important;
}
.btn.categories {
	background: #000;
	color: #fefaf1;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 100px;
	padding: 2px 15px 1px;
	margin-right: 3px;

}
.btn.categories:hover, .btn.categories:active { color: #ffe4b3; }
.btn.categories.active { background-color: #ffedcc; color: #000; }
.form-control::placeholder {
	color: #d1d6db;
}
.action-group {
	font-size: 1.7rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #6c757d;
	margin: 0 auto;
}
.action-group > a{
	margin-right: 1rem;
	display: inline-block;
	color: #6c757d;
}

.action-group > a i{
	cursor: pointer;
	line-height: 1.3rem;
}
.action-group > a i:hover{
	color: #9a9a9a;
}

.action-group > a i:last-child{
	margin-right: 0;
}
.action-group .offer {
    font-size: 2.1rem;
    margin-top: .4rem;
    border: 0;
    color: #6c757d;
    background-color: transparent;
}
#offer_modal .modal-footer { font-size:.8rem; }
#offer_modal .modal-header .modal-title { font-weight: bold; }
#offer_modal .modal-body { font-size: 1.5rem; }

.page_header h1 {
	margin-bottom: 0;

	font-family: katarine-web,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2rem;
	text-transform: uppercase;

}
h6 { color:#ccc; }

.featured-home {
	background: linear-gradient(45deg, #222 3.75%, #000 3.75%, #000 46.25%, #222 46.25%, #222 53.75%, #000 53.75%, #000 96.25%, #222 96.25%);
	background-size: 9px 6px;
	background-position: 50px 50px;
	margin-top: 1rem;
}
.featured-title {
	margin-top: 2rem;
}
.featured-title h4 .fa-star {
	color: #e896ca;
}
.action-group .favorite .fa-star, .offer .fa-ticket-alt {
	color: #aaa;
}
.fh-title h2 {
	color: #ccc;
	font-weight: 700;
	margin-bottom: 0;
	line-height: normal;

}
.fh-center-title h4 {
	color: #212529;
	font-size: 1.3rem;
	padding: 0rem;
	line-height: normal;
}
.fh-title {
	text-align: left;
}

.btn-outline-secondary.btn-outline-secondary-icon:not(.active):hover {
	color: #6c757d;
	background-color: #ffffff;
}
.btn-outline-secondary.btn-outline-secondary-icon.active {
	color: #6c757d;
	background-color: #fff;
}
.btn{
	appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
}
.btn-primary {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-secondary {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
/* rangeSlider */

.range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #6c757d;
	padding: 5px 10px;
	margin-left: 8px;
}
.range-slider__value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #6c757d;
	border-bottom: 7px solid transparent;
	content: "";
}
/* END rangeSlider */

.form-range::-webkit-slider-thumb {
	background-color: #212529;
}
.form-range {
	height: 2rem;
}
/*
.category-title {
	background: #de713d;
	color: #fff;
	letter-spacing: 2px;
}
.category-items svg text{
    font-weight: 600;
    font-size: 1.2rem;
}
.category-items .card-header {
	position: relative;
	padding: 0;
	width: 100%;
	height: 125px;
	background-size: cover;
	background-position: center;
}
.category-items .card-img-overlay {
	background: rgb(25 23 22 / 28%);
}
.category-items .card-header .card-title {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	position: absolute;
	color: #ffffff;
}
.card.preferred { border: 4px solid #e382c0; }
.card-body { background-color: #fff; }
.preferred .card-body { background-color: #faeaf4; }
*/

.mt-0 { margin-top:0; }
.mt-10 { margin-top:10px; }
.mt-20 { margin-top:20px; }
.mt-30 { margin-top:30px; }
.mt-40 { margin-top:40px; }
.mt-50 { margin-top:50px; }

.navbar-expand .navbar-nav { margin: 0 auto; }
li.nav-item { width: 87px; text-align:center; }
a.nav-link { padding-top:0; padding-bottom:0; }
.main-navigation li.nav-item{
	text-align: left;
}
.instructions {
    color: #0367fc;
    font-size: .95rem;
    font-style: italic;
    line-height: 1.25rem;
}

.message {
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

.fa-1p5x { font-size: 1.5em; }
.fa-p6x { font-size: .6em; }

body {
	padding-bottom: 130px;
	background-color:  #FFFAF1;
	font-family: realist,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.fun-font { font-family:katarine-web,sans-serif; }

.card-title {
     padding: 0 .5rem;
}

.card-header.hours {
	height:auto;
    padding: .5rem 1.5rem;
}
.card-body.hours {
    font-size: 0.75rem;
    padding: .5rem 1.5rem;
}

small .btn-sm { line-height: 1; }

.info-col {
    background: #e9ecef;
    padding: .4rem .6rem;
    margin: .5rem 0 1rem 0;
}
.info-col div[class^="col-"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
}
.info-col input.form-control-plaintext {
	display: inline-block;
	width: auto;
    line-height: 1;
    padding: 0;
}
.info-col label {
	margin-right: .2rem;
    font-weight: 600;
}
.col-form-label{
    padding: 0;
}

/* forms */
.form-label { color: #333; }

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    padding-right: .375rem;
    background-image: none;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #ffc107;
    padding-right: .375rem;
    background-image: none;
    background-color: #fffdf5;
}
.btn-warning:active, .btn-warning:focus, .btn-warning:hover {
	text-decoration: blink;
}

/* tabs */
.nav-tabs li.nav-item {
	width: initial;
}
.tab-content {
    margin-top: 1.25rem;
}

/* nav */
.navbar-brand {
	font-family: 'katarine-web';
	font-weight: 700;
	font-size: 2rem;
}
.right-navigation a.btn { padding: 0.375rem; font-size: 1.5em; }

/* search */
.search {
	border-radius: 20px;
	background-color: #E7E8EA;
	border: none;
	width: 400px;
	padding-left: 33px;
}
.search-container { position: relative; }
.search-container span {position: absolute; left: 9px; top: 7px; }

/* subnav */
.sub-nav li.nav-item { width: initial; text-align: left; margin-bottom: 4px; }

/* checkboxes */
.btn-group .btn-outline-primary {
    color: #0d6efd;
    background: #fff;
    border-color: #0d6efd;
}
/*.btn-group .btn-outline-primary:hover, .btn-group .btn-primary:hover{
    color: #7989a1;
    background-color: #d4deed;
    border-color: #d4deed;
}*/
.group-invalid + .invalid-feedback {
    display: block;
}
.btn-group label { font-size:.9rem; }

/* profile icon */
.profile-icon { width: 50px; height: 50px; border-radius: 50%; }

/* ratios */
.ratio-3x4 {
    --bs-aspect-ratio: calc(4 / 3 * 100%);
}

/* placecards */
.placecard-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	text-decoration: none;
	color: #fff;
}
.placecard-title:hover, .placecard-title:active { color: red; }
.placecard-image-holder, .placecard-info-holder {
	position: relative;
}
.placecard-info-container {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	color: #fff;
}
.placecard-info-container .btn.categories {
	background-color: rgb(255,255,255,.4);
}
.placecard-image-holder a {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	color: #fff;
}

/* small screens */
@media (max-width: 600px) {
	.right-navigation a.btn { padding: 0.1rem; font-size: 1em; }
	.navbar-brand { font-size: 1.3rem; }

	main {
		font-size: calc(3vw);
		padding-left: 0.5em!important;
		padding-right: 0.5em!important;
	}

	.icon-col i { font-size: 1.5rem; }
	.info-fontsize, .event-dates b { font-size: 1rem; }
	.btn.categories { padding: 2px 10px 1px; margin-right: 0px; font-size: .75rem; }
	.profile-icon { width: 32px; height: 32px; }
	.pt-3 { padding-top: 0.75rem!important; }

	.placecard-info-container { bottom: 1rem; left: 1rem; }
	.placecard-image-holder a { bottom: 1rem; right: 1rem; }
}
